body{
    bottom: var(--spacing);
    width: auto;
    margin-bottom: 0;
    padding: 0.75rem;
    border-radius: 2rem; 
    box-shadow: var(--card-box-shadow);
    line-height: 0.5;
    text-align: right;
}